.faq {
  padding-top: rem(100);
  padding-bottom: rem(20);
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding-top: rem(60);
  }

  &__title {
    text-align: center;
  }
  &__title:not(:last-child) {
    margin-bottom: rem(35);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(2);
    //== 992px ==//
    @media (max-width: $tb) {
      grid-template-columns: repeat(2, 1fr);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-template-columns: 1fr;
    }
  }
}
