.form-callback {
  @extend %fl-r-ct;
  @media (max-width: em(599.98)) {
    flex-direction: column;
    max-width: rem(320);
    margin: 0 auto;
  }
  &__item {
    flex-grow: 1;
    margin-right: rem(45);
    //== 768px ==//
    @media (max-width: $mb) {
      margin-right: rem(20);
    }
    @media (max-width: em(599.98)) {
      width: 100%;
      margin-right: 0;
      margin-bottom: rem(20);
    }
  }

  &__input {
    width: 100%;
    height: rem(48);
    padding: rem(5) rem(20);
    background-color: rgba(0, 146, 58, 0.16);
    color: var(--clr-black);
    transition: box-shadow 0.32s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: inset 0 -8px 0 -2px var(--clr-green);
    }

    &:hover:not(:focus) {
      box-shadow: inset 0 -8px 0 -2px var(--clr-green), 2px 2px 15px rgba(0, 100, 40, 0.16);
    }
    @media (max-width: em(599.98)) {
      text-align: center;
    }
  }

  &__submit {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: rem(11.5) rem(46);
    background-color: var(--clr-green);
    transition: background-color 0.32s ease-in-out;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: rem(30);
      transform: rotate(-45deg);
      background: linear-gradient(to right, rgba(0, 100, 40, 0.4) 10%, rgba(0, 100, 40, 0.1));
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          animation: slideRight 1s ease-in-out forwards;
        }
        background-color: rgba(0, 100, 40, 0.16);
        span {
          color: var(--clr-green);
        }
      }
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      width: 100%;
    }
  }
  &__submit span {
    font-size: rem(18);
    text-transform: uppercase;
    color: var(--clr-white);
    transition: color 0.32s ease-in-out;
  }
}
