// Подключение общих CSS-переменных
:root {
  //* Переменные
  --header-height: 7.875rem;

  //* Цвета
  --clr-white: #fff;
  --clr-black: #1f1f1f;
  --clr-accent: #d33838;
  --clr-green: #00923a;
  --clr-orange-light: #ffc083;
}
